{{/* Get Certified Link */}}
<li class="nav-item">
  <a class="nav-link" href="{{ relref . "/certifications" }}">
    <i class="fa-solid fa-certificate fa-lg me-1"></i>
    <span>Get Certified</span>
  </a>
</li>

{{/* Glossary Link */}}
<li class="nav-item">
  <a class="nav-link" href="{{ relref . "/glossary" }}">
    <i class="fa-solid fa-book fa-lg me-1"></i>
    <span>Glossary</span>
  </a>
</li>

{{/* Swag Link */}}
<li class="nav-item">
  <a class="nav-link" href="https://www.teepublic.com/t-shirt/25575514-scaled-agile-devops-maturity-framework" target="_blank">
    <i class="fa-solid fa-shirt fa-lg me-1"></i>
    <span>Swag</span>
  </a>
</li>

{{/* Invest/Patreon Link */}}
<li class="nav-item">
  <a class="nav-link" href="https://buymeacoffee.com/sadmf" target="_blank">
    <i class="fa-solid fa-circle-dollar-to-slot fa-lg me-1"></i>
    <span>Invest</span>
  </a>
</li>
