{{/* Custom navbar items for Docsy theme */}}
{{/* Using Bootstrap classes instead of Bulma */}}

{{/* Swag Link */}}
<li class="nav-item">
  <a class="nav-link" href="https://www.teepublic.com/t-shirt/25575514-scaled-agile-devops-maturity-framework" target="_blank">
    <i class="fa-solid fa-shirt fa-lg me-1"></i>
    <span>Swag</span>
  </a>
</li>

{{/* Invest/Patreon Link */}}
<li class="nav-item">
  <a class="nav-link" href="https://www.patreon.com/scaledagiledevops" target="_blank">
    <i class="fa-solid fa-circle-dollar-to-slot fa-lg me-1"></i>
    <span>Invest</span>
  </a>
</li>

{{/* Certification Link */}}
<li class="nav-item">
  <a class="nav-link" href="{{ relref . "/certifications" }}">
    <i class="fa-solid fa-certificate fa-lg me-1"></i>
    <span>Certification</span>
  </a>
</li>

{{/* Print Button - Uses Docsy's print functionality */}}
<li class="nav-item">
  <a class="nav-link" href="javascript:window.print()">
    <i class="fa-solid fa-print fa-lg me-1"></i>
    <span>Print</span>
  </a>
</li>
