/* *** Sidebar *** */

#sidebar {
    font-weight: 300 !important;
}

#sidebar-toggle-span {
    display: none;
}

@media only all and (max-width: 47.938em) {
    #sidebar-toggle-span {
        display: inline;
    }
}

#sidebar {
    background-color: #060136;
    position: fixed;
    top: 0;
    width: 300px;
    bottom: 0;
    left: 0;
    font-weight: 400;
    font-size: 15px;
}

#sidebar a {
    color: #ccc;
}

#sidebar a:hover {
    color: #e6e6e6;
}

#sidebar a.subtitle {
    color: rgba(204, 204, 204, 0.6);
}

#sidebar hr {
    border-bottom: 1px solid #2a232f;
}

#sidebar a.padding {
    padding: 0 1rem;
}

#sidebar h5 {
    margin: 2rem 0 0;
    position: relative;
    line-height: 2;
}

#sidebar h5 a {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar h5 i {
    color: rgba(204, 204, 204, 0.6);
    position: absolute;
    right: 0.6rem;
    top: 0.7rem;
    font-size: 80%;
}

#sidebar h5.parent a {
    background: #201b24;
    color: #d9d9d9 !important;
}

#sidebar h5.active a {
    background: #fff;
    color: #777 !important;
}

#sidebar h5.active i {
    color: #777 !important;
}

#sidebar h5+ul.topics {
    display: none;
    margin-top: 0;
}

#sidebar h5.parent+ul.topics,
#sidebar h5.active+ul.topics {
    display: block;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul.searched a {
    color: #999999;
}

#sidebar ul.searched .search-match a {
    color: #e6e6e6;
}

#sidebar ul.searched .search-match a:hover {
    color: white;
}

#sidebar ul.topics {
    margin: 0 1rem;
}

#sidebar ul.topics.searched ul {
    display: block;
}

#sidebar ul.topics ul {
    display: none;
    padding-bottom: 1rem;
}

#sidebar ul.topics ul ul {
    padding-bottom: 0;
}

#sidebar ul.topics li.parent ul,
#sidebar ul.topics>li.active ul {
    display: block;
}

#sidebar ul.topics>li>a {
    line-height: 1.2rem;
    font-size: 1rem;
}

#sidebar ul.topics>li>a b {
    opacity: 0.7;
    font-weight: normal;
}

#sidebar ul.topics>li>a .fa {
    margin-top: px;
}

#sidebar ul.topics>li.parent,
#sidebar ul.topics>li.active {
    background: #251f29;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li.active>a {
    background: #fff;
    color: #777 !important;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li {
    padding: 0;
}

#sidebar ul li.visited+span {
    margin-right: 16px;
}

#sidebar ul li a {
    display: block;
    padding: 2px 0;
}

#sidebar ul li a span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

#sidebar ul li>a {
    padding: 4px 0;
}

#sidebar ul li.visited>a .read-icon {
    color: #9c6fb6;
    display: inline;
}

#sidebar ul li li {
    padding-left: 1rem;
    text-indent: 0.2rem;
}

@media only all and (max-width: 59.938em) {
    #sidebar {
        width: 230px;
    }

    #body {
        margin-left: 230px;
    }

    footer {
        margin-left: 230px;
    }
}

@media only all and (max-width: 47.938em) {
    #sidebar {
        width: 230px;
        left: -230px;
    }

    #body {
        margin-left: 0;
        width: 100%;
    }

    footer {
        margin-left: 0;
        width: 100%;
    }

    .sidebar-hidden {
        overflow: hidden;
    }

    .sidebar-hidden #sidebar {
        left: 0;
    }

    .sidebar-hidden #body {
        margin-left: 230px;
        overflow: hidden;
    }

    .sidebar-hidden #overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(255, 255, 255, 0);
        cursor: pointer;
    }
}


#sidebar ul.topics>li>a .read-icon {
    margin-top: 9px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar #shortcuts li {
    padding: 2px 0;
    list-style: none;
}

#sidebar ul li .read-icon {
    display: none;
    float: right;
    font-size: 13px;
    min-width: 16px;
    margin: 4px 0 0 0;
    text-align: right;
}

#sidebar ul li.visited>a .read-icon {
    color: #00bdf3;
    display: inline;
}

#sidebar #shortcuts h3 {
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 1rem;
    padding-left: 2rem;
    font-size: 1.5rem
}