:root {

    --MAIN-TEXT-color: #323232;
    /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e;
    /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #09579c;
    /* Color of links */
    --MAIN-LINK-HOVER-color: #167ad0;
    /* Color of hovered links */
    --MAIN-ANCHOR-color: #09579c;
    /* color of anchors on titles */

    --MENU-HEADER-BG-color: #09579c;
    /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #33a1ff;
    /*Color of menu header border */

    --MENU-SEARCH-BG-color: #167ad0;
    /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff;
    /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd;
    /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #20272b;
    /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #252c31;
    /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc;
    /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;
    /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777;
    /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff;
    /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff;
    /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b;
    /* Color of <hr> separator in menu */

}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2,
h3,
h4,
h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

h2, h3, h4, h5, h6 {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    color: #ac1616;
    font-weight: 400;
    letter-spacing: -1px;
}

h2 {
    font-size: 180%;
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a {
    color: var(--MAIN-LINK-color);
    font-weight: 400;
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited>a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics>li.parent,
#sidebar ul.topics>li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active>a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

.btn-default {
    color: #fff !important;
    background-color: var(--MAIN-LINK-color) !important;
    border-color: var(--MENU-SEARCH-BG-color) !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #fff !important;
    background-color: var(--MAIN-LINK-HOVER-color) !important;
    border-color: var(--MAIN-LINK-color) !important;
}

.btn-default:active {
    background-image: none !important;
}

div.notices {
    margin: 2rem 0;
    position: relative;
}

div.notices p {
    padding: 10px;
    display: block;
    font-size: 1.1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}

div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: 10px;
    content: "";
}

div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}

div.notices.info p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}

div.notices.info p:first-child:after {
    content: 'Info';
}

div.notices.warning p:first-child:before {
    content: "\f06a";
}

div.notices.warning p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}

div.notices.warning p:first-child:after {
    content: 'Warning';
}

div.notices.note p {
    border-top: 1px solid #6AB0DE;
    border-bottom: 1px solid #6AB0DE;
    border-left: 1px solid #6AB0DE;
    border-right: 1px solid #6AB0DE;
    background: #E7F2FA;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

}

div.notices.note p:first-child:after {
    font-weight: 1;
    content: '';
}

div.notices.tip p:first-child:before {
    content: "\f058";
}

div.notices.tip p {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}

div.notices.tip p:first-child:after {
    content: 'Tip';
}