:root {

    --MAIN-TEXT-color: #323232;
    /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e;
    /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #09579c;
    /* Color of links */
    --MAIN-LINK-HOVER-color: #167ad0;
    /* Color of hovered links */
    --MAIN-ANCHOR-color: #09579c;
    /* color of anchors on titles */

    --MENU-HEADER-BG-color: #09579c;
    /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #33a1ff;
    /*Color of menu header border */

    --MENU-SEARCH-BG-color: #167ad0;
    /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff;
    /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd;
    /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #20272b;
    /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #252c31;
    /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc;
    /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;
    /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777;
    /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff;
    /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff;
    /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b;
    /* Color of <hr> separator in menu */

}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

/* h2,
h3,
h4,
h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
} */

/* h2, h3, h4, h5, h6 {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    color: #ac1616;
    font-weight: 400;
    letter-spacing: -1px;
} */

h2 {
    font-size: 180%;
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a {
    color: var(--MAIN-LINK-color);
    font-weight: 400;
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited>a .read-icon {
    color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics>li.parent,
#sidebar ul.topics>li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active>a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

.btn-default {
    color: #fff !important;
    background-color: var(--MAIN-LINK-color) !important;
    border-color: var(--MENU-SEARCH-BG-color) !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #fff !important;
    background-color: var(--MAIN-LINK-HOVER-color) !important;
    border-color: var(--MAIN-LINK-color) !important;
}

.btn-default:active {
    background-image: none !important;
}

div.notices {
    margin: 2rem 0;
    position: relative;
}

div.notices p {
    padding: 10px;
    display: block;
    font-size: 1.1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}

div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: 10px;
    content: "";
}

div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}

div.notices.info p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}

div.notices.info p:first-child:after {
    content: 'Info';
}

div.notices.warning p:first-child:before {
    content: "\f06a";
}

div.notices.warning p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}

div.notices.warning p:first-child:after {
    content: 'Warning';
}

div.notices.note p {
    border-top: 1px solid #6AB0DE;
    border-bottom: 1px solid #6AB0DE;
    border-left: 1px solid #6AB0DE;
    border-right: 1px solid #6AB0DE;
    background: #E7F2FA;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

}

div.notices.note p:first-child:after {
    font-weight: 1;
    content: '';
}

div.notices.tip p:first-child:before {
    content: "\f058";
}

div.notices.tip p {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}

div.notices.tip p:first-child:after {
    content: 'Tip';
}

footer {
    display: grid;
    place-items: center;
    margin-left: 300px;
    padding-bottom: 1rem;
}


/* *** Sidebar *** */

#sidebar {
    font-weight: 300 !important;
}

#sidebar-toggle-span {
    display: none;
}

@media only all and (max-width: 47.938em) {
    #sidebar-toggle-span {
        display: inline;
    }
}

#sidebar {
    background-color: #060136;
    position: fixed;
    top: 0;
    width: 300px;
    bottom: 0;
    left: 0;
    font-weight: 400;
    font-size: 15px;
}

#sidebar a {
    color: #ccc;
}

#sidebar a:hover {
    color: #e6e6e6;
}

#sidebar a.subtitle {
    color: rgba(204, 204, 204, 0.6);
}

#sidebar hr {
    border-bottom: 1px solid #2a232f;
}

#sidebar a.padding {
    padding: 0 1rem;
}

#sidebar h5 {
    margin: 2rem 0 0;
    position: relative;
    line-height: 2;
}

#sidebar h5 a {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar h5 i {
    color: rgba(204, 204, 204, 0.6);
    position: absolute;
    right: 0.6rem;
    top: 0.7rem;
    font-size: 80%;
}

#sidebar h5.parent a {
    background: #201b24;
    color: #d9d9d9 !important;
}

#sidebar h5.active a {
    background: #fff;
    color: #777 !important;
}

#sidebar h5.active i {
    color: #777 !important;
}

#sidebar h5+ul.topics {
    display: none;
    margin-top: 0;
}

#sidebar h5.parent+ul.topics,
#sidebar h5.active+ul.topics {
    display: block;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul.searched a {
    color: #999999;
}

#sidebar ul.searched .search-match a {
    color: #e6e6e6;
}

#sidebar ul.searched .search-match a:hover {
    color: white;
}

#sidebar ul.topics {
    margin: 0 1rem;
}

#sidebar ul.topics.searched ul {
    display: block;
}

#sidebar ul.topics ul {
    display: none;
    padding-bottom: 1rem;
}

#sidebar ul.topics ul ul {
    padding-bottom: 0;
}

#sidebar ul.topics li.parent ul,
#sidebar ul.topics>li.active ul {
    display: block;
}

#sidebar ul.topics>li>a {
    line-height: 1.2rem;
    font-size: 1rem;
}

#sidebar ul.topics>li>a b {
    opacity: 0.7;
    font-weight: normal;
}

#sidebar ul.topics>li>a .fa {
    margin-top: px;
}

#sidebar ul.topics>li.parent,
#sidebar ul.topics>li.active {
    background: #251f29;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li.active>a {
    background: #fff;
    color: #777 !important;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li {
    padding: 0;
}

#sidebar ul li.visited+span {
    margin-right: 16px;
}

#sidebar ul li a {
    display: block;
    padding: 2px 0;
}

#sidebar ul li a span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

#sidebar ul li>a {
    padding: 4px 0;
}

#sidebar ul li.visited>a .read-icon {
    color: #9c6fb6;
    display: inline;
}

#sidebar ul li li {
    padding-left: 1rem;
    text-indent: 0.2rem;
}

@media only all and (max-width: 59.938em) {
    #sidebar {
        width: 230px;
    }

    #body {
        margin-left: 230px;
    }

    footer {
        margin-left: 230px;
    }
}

@media only all and (max-width: 47.938em) {
    #sidebar {
        width: 230px;
        left: -230px;
    }

    #body {
        margin-left: 0;
        width: 100%;
    }
    
    footer {
        margin-left: 0;
        width: 100%;
    }

    .sidebar-hidden {
        overflow: hidden;
    }

    .sidebar-hidden #sidebar {
        left: 0;
    }

    .sidebar-hidden #body {
        margin-left: 230px;
        overflow: hidden;
    }

    .sidebar-hidden #overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(255, 255, 255, 0);
        cursor: pointer;
    }
}


#sidebar ul.topics>li>a .read-icon {
    margin-top: 9px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar #shortcuts li {
    padding: 2px 0;
    list-style: none;
}

#sidebar ul li .read-icon {
    display: none;
    float: right;
    font-size: 13px;
    min-width: 16px;
    margin: 4px 0 0 0;
    text-align: right;
}

#sidebar ul li.visited>a .read-icon {
    color: #00bdf3;
    display: inline;
}

#sidebar #shortcuts h3 {
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 1rem;
    padding-left: 2rem;
    font-size: 1.5rem
}

