<div class="ci-triad">
  <div class="ci-triad__pillar ci-triad__pillar--ci">
    <div class="ci-triad__abbr">CI</div>
    <div class="ci-triad__title">Continuous<br/>Isolation</div>
    <div class="ci-triad__badge">Phase One</div>
  </div>
  <div class="ci-triad__pillar ci-triad__pillar--cd">
    <div class="ci-triad__abbr">CD</div>
    <div class="ci-triad__title">Continuous<br/>Deliberation</div>
    <div class="ci-triad__badge">Phase Two</div>
  </div>
  <div class="ci-triad__pillar ci-triad__pillar--ed">
    <div class="ci-triad__abbr">ED</div>
    <div class="ci-triad__title">Eventual<br/>Delivery</div>
    <div class="ci-triad__badge">Phase Three</div>
  </div>
</div>
